__pycache__/
*/__pycache__/
*old.py
*old.json
*old.ipynb
*old.ipynb

recommender_results/
*/recommender_results/
Nexus.egg-info/
tmp_trainer/
build/
examples/recommendation/inference/inference_data/recflow/*

.vscode/
saves/
*/saves/
.cache/
experiments/stage1_validation/backbone_matrix/*/tiny_checkpoints/
experiments/stage1_validation/mmeb_real_eval/raw/.cache/
experiments/stage1_validation/mmeb_real_eval/prepared_eval/_cache/

checkpoints/
eval_scripts/
note

nexus_test/
nexus_test*

common_commands
logs/
code_docs/
